<h1>Listing transport_batches</h1>

<table>
  <tr>
    <th>Product batch</th>
    <th>Code</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @transport_batches.each do |transport_batch| %>
  <tr>
    <td><%= transport_batch.product_batch %></td>
    <td><%= transport_batch.code %></td>
    <td><%= link_to 'Show', transport_batch %></td>
    <td><%= link_to 'Edit', edit_transport_batch_path(transport_batch) %></td>
    <td><%= link_to 'Destroy', transport_batch, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Transport batch', new_transport_batch_path %>
