<!-- Button -->
<div class="controls text-right">
	<% if can? :create, Game %>
		<%= button_to '创建工作单', new_worksheet_path, class: "btn btn-primary", method: :get %>
	<% end %>
</div>

<div class="row-fluid">
	<div class="span12">
		<ul class="nav nav-tabs">
			<% Worksheet::STATES.each do |state| %>
				<li class="<%= (state[0].to_s==@state)? 'active': '' %>">
					<%= link_to state[1], worksheets_path(state: state[0]) %>
				</li>
				<% end %>
		</ul>
	</div>
</div>
	
<table class="table table-striped ">
  <tr>
    <th>工作单编码</th>
    <th>所属游戏</th>
    <th>总票数</th>
    <th>印刷批次号</th>
    <th>下达日期</th>
    <th>版本号</th>
		<% if params[:state] == 'reject' %>
			<th>驳回原因</th>
		<% end %>
    <th></th>
  </tr>

<% @worksheets.each do |worksheet| %>
  <tr>
    <td><%= link_to worksheet.code, worksheet %></td>
    <td><%= link_to worksheet.game.name,worksheet.game %></td>
    <td><%= worksheet.ticket_count %></td>
    <td><%= worksheet.printbatch %></td>
    <td><%= worksheet.generate_at.to_date %></td>
    <td><%= worksheet.version %></td>
		<% if params[:state] == 'reject' %>
			<td><%= worksheet.desc %></td>
		<% end %>
		<td><%= link_to '详细信息', worksheet, class: 'label label-info' %></td>
  </tr>
<% end %>
</table>

<br />


