<div class="row-fluid">
	<div class="span12">
		<ul class="nav nav-tabs">
				<li class="active">
					<a href="#">待审核工作单</a>
				</li>
		</ul>
	</div>
</div>
	
<table class="table table-striped ">
  <tr>
    <th>工作单编码</th>
    <th>所属游戏</th>
    <th>总票数</th>
    <th>印刷批次号</th>
    <th>下达日期</th>
    <th>版本号</th>
		<% if params[:state] == 'reject' %>
			<th>驳回原因</th>
		<% end %>
    <th></th>
  </tr>

<% @worksheets.each do |worksheet| %>
  <tr>
    <td><%= link_to worksheet.code, audit_worksheet_path(worksheet) %></td>
    <td><%= link_to worksheet.game.name, worksheet.game %></td>
    <td><%= worksheet.ticket_count %></td>
    <td><%= worksheet.printbatch %></td>
    <td><%= l worksheet.generate_at %></td>
    <td><%= worksheet.version %></td>
		<% if params[:state] == 'reject' %>
			<td><%= worksheet.desc %></td>
		<% end %>
		<td><%= link_to '详细信息', audit_worksheet_path(worksheet), class: 'label label-info' %></td>
  </tr>
<% end %>
</table>

<br />


