<table class="table table-striped table-hover">
	<tr>
	  <td class="td-show">票号:</td>
	  <td><%= @ticket.ticket_no %></td>
	</tr>
	  
	<tr>
	  <td class="td-show">所属游戏:</td>
	  <td><%= @ticket.game.name %></td>
	</tr>
	
	<tr>
	  <td class="td-show">所属奖组:</td>
	  <td><%= @ticket.game_group.code %></td>
	</tr>
	
	<tr>
	  <td class="td-show">程序版本:</td>
	  <td><%= @ticket.game_group.game_program.version %></td>
	</tr>
	
	<tr>
	  <td class="td-show">创建时间:</td>
	  <td><%= l @ticket.created_at %></td>
	</tr>
	
	<tr>
	  <td class="td-show">数据重现结果:</td>
	  <td>......</td>
	</tr>
	
</table>

<%= link_to '返回', tickets_path, class: "btn btn-info" %>