<table class="table table-striped table-hover">
	<tr>
	  <td class="td-show">游戏编码:</td>
	  <td><%= @game.code %></td>
	</tr>
	  
	<tr>
	  <td class="td-show">游戏名称:</td>
	  <td><%= @game.name %></td>
	</tr>

	<tr>
	  <td class="td-show">票面面值:</td>
	  <td><%= @game.par_value %></td>
	</tr>

	<tr>
	  <td class="td-show">奖组大小:</td>
	  <td><%= @game.sub_gamesize %></td>
	</tr>

	<tr>
	  <td class="td-show">奖池大小:</td>
	  <td><%= @game.pool_size %></td>
	</tr>

	<tr>
	  <td class="td-show">每包票数:</td>
	  <td><%= @game.pack_size %></td>
	</tr>

	<tr>
	  <td class="td-show">每奖池包数:</td>
	  <td><%= @game.packs_per_pool %></td>
	</tr>

	<tr>
	  <td class="td-show">每箱包数:</td>
	  <td><%= @game.packs_per_carton %></td>
	</tr>

	<tr>
	  <td class="td-show">票起始编号:</td>
	  <td><%= @game.first_ticket_no %></td>
	</tr>

	<tr>
	  <td class="td-show">包起始编号:</td>
	  <td><%= @game.first_pack_no %></td>
	</tr>

	<tr>
	  <td class="td-show">奖池起始编号:</td>
	  <td><%= @game.first_pool_no %></td>
	</tr>

	<tr>
	  <td class="td-show">每印刷单元包含奖池数:</td>
	  <td><%= @game.poolcount_per_printunit %></td>
	</tr>

	<tr>
	  <td class="td-show">当前已印刷到的包数:</td>
	  <td><%= @game.current_pack_no %></td>
	</tr>

	<tr>
	  <td class="td-show">当前版本号:</td>
	  <td><%= @game.version %></td>
	</tr>

	<tr>
	  <td class="td-show">当前状态:</td>
	  <td><span class='label label-info'><%= Game::STATES[@game.state.to_sym] %></span></td>
	</tr>

	<% if @game.state == 'reject' %>
		<tr>
		  <td class="td-show">驳回原因:</td>
		  <td><%= @game.desc %></td>
		</tr>
	<% end %>
</table>

<% unless @game.game_programs.blank? %>
	<table class="table table-striped">
	  <tr>
	    <th>版本号</th>
	    <th>升级日期</th>
	  </tr>
		
		<% @game.game_programs.each do |program| %>
		  <tr>
		    <td><%= program.version %></td>
		    <td><%= l program.created_at %></td>
		  </tr>
		<% end %>
	</table>
<% end %>

<% if @game.state == 'initial' && @game.version == 1 %>
    <%= link_to '删除游戏', @game, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
<% end %>

<% if @game.state == 'normal' %>
		<%= link_to '创建工作单', edit_game_path(@game), class: 'btn btn-success' %>
    <%= link_to '升级版本', upload_game_path(@game), class: 'btn btn-warning' %>
    <%= link_to '游戏退市', @game, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
<% end %>

<% if @game.state == 'reject' %>
    <%= link_to '重新部署', upload_game_path(@game), class: 'btn btn-warning' %>
    <%= link_to '删除游戏', @game, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
<% end %>

<% if @game.state == 'delist' %>
    <%= link_to '生成下市数据', edit_game_path(@game), class: 'btn btn-warning' %>
<% end %>

<%= link_to '返回', games_path, class: "btn btn-info" %>






