<%= simple_form_for @role, :html => {:class => 'form-horizontal well'} do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name, label: "角色名称" %>
		
		<%= f.association :operations, as: :check_boxes, label: "权限" %>
  </div>
	<p></p>

  <div class="form-actions">
    <%= f.submit "创建", class: "btn btn-success" %>
		<%= link_to '返回', roles_path, class: "btn btn-info" %>
  </div>
<% end %>
