<div class="row-fluid">
	<div class="span12">
		<ul class="nav nav-tabs">
			<li class="active">
				<a href="#">待审核游戏</a>
			</li>
		</ul>
	</div>
</div>
	
<table class="table table-striped ">
  <tr>
    <th>游戏编码</th>
    <th>游戏名称</th>
    <th>票面面值</th>
    <th>奖组大小</th>
    <th>奖池大小</th>
    <th></th>
  </tr>

<% @games.each do |game| %>
  <tr>
    <td><%= link_to game.code, audit_game_path(game) %></td>
    <td><%= link_to game.name, audit_game_path(game) %></td>
    <td><%= game.par_value %></td>
    <td><%= game.sub_gamesize %></td>
    <td><%= game.pool_size %></td>
    <td><%= link_to '审核', audit_game_path(game), class: "label label-info" %></td>
  </tr>
<% end %>
</table>

<br />


