<div class="well">
	<p id="notice"><%= notice %></p>

	<p>
	  <b>游戏编码:</b>
	  <%= @game.code %>
	</p>

	<p>
	  <b>游戏名称:</b>
	  <%= @game.name %>
	</p>

	<p>
	  <b>票面面值:</b>
	  <%= @game.par_value %>
	</p>

	<p>
	  <b>奖组大小:</b>
	  <%= @game.sub_gamesize %>
	</p>

	<p>
	  <b>奖池大小:</b>
	  <%= @game.pool_size %>
	</p>

	<p>
	  <b>每包票数:</b>
	  <%= @game.pack_size %>
	</p>

	<p>
	  <b>每奖池包数:</b>
	  <%= @game.packs_per_pool %>
	</p>

	<p>
	  <b>每箱包数:</b>
	  <%= @game.packs_per_carton %>
	</p>

	<p>
	  <b>票起始编号:</b>
	  <%= @game.first_ticket_no %>
	</p>

	<p>
	  <b>包起始编号:</b>
	  <%= @game.first_pack_no %>
	</p>

	<p>
	  <b>奖池起始编号:</b>
	  <%= @game.first_pool_no %>
	</p>

	<p>
	  <b>每印刷单元包含奖池数:</b>
	  <%= @game.poolcount_per_printunit %>
	</p>

	<p>
	  <b>当前已印刷到的包数:</b>
	  <%= @game.current_pack_no %>
	</p>

	<p>
	  <b>包起始编号:</b>
	  <%= @game.first_pack_no %>
	</p>

	<p>
	  <b>当前版本号:</b>
	  <%= @game.version %>
	</p>

	<p>
	  <b>当前状态:</b>
		<%= Game::STATES[@game.state.to_sym] %>
	</p>


	<div>
		<%= simple_form_for(@game, :url => audit_audit_game_path(@game), :html => {:class => "form-horizontal", :method => 'post'}) do |f| %>
			<%= f.input :desc, label: "驳回理由:", :required => false, :input_html => {:class => "content"} %>

			<div class="actions">
				<%= f.submit "通过", class: "btn btn-success", value: "通过" %>
				<%= f.submit "驳回", class: "btn btn-danger", value: "驳回" %>
				<%= link_to '返回', audit_games_path, class: "btn btn-info" %>
				
			</div>
		<% end %>
	</div>


</div>
