<!-- Button -->
<div class="controls text-right">
	<% if can? :create, Game %>
		<%= button_to '创建生产批次', new_product_batch_path, class: "btn btn-primary", method: :get %>
	<% end %>
</div>

<div class="row-fluid">
	<div class="span12">
		<ul class="nav nav-tabs">
			<% ProductBatch::STATES.each do |state| %>
				<li class="<%= (state[0].to_s == @state)? 'active': '' %>">
					<%= link_to state[1], product_batches_path(state: state[0]) %>
				</li>
				<% end %>
		</ul>
	</div>
</div>
	
<table class="table table-striped ">
  <tr>
    <th>生产批次编码</th>
    <th>所属游戏</th>
		<th>所属工作单</th>
    <th>印刷单元数</th>
		<th>当前进度</th>
		<% if params[:state] == 'reject' %>
			<th>驳回原因</th>
		<% end %>
    <th></th>
  </tr>

<% @product_batches.each do |product_batch| %>
  <tr>
    <td><%= link_to product_batch.code, product_batch %></td>
    <td><%= link_to product_batch.worksheet.game.name, product_batch.worksheet.game %></td>
    <td><%= link_to product_batch.worksheet.code, product_batch.worksheet %></td>
		<td><%= product_batch.print_unit_count %></td>
    <td><%= ProductBatch::PROGRESS.key(product_batch.progress.to_i) rescue "" %></td>
		<% if params[:state] == 'reject' %>
			<td><%#= product_batch.desc %></td>
		<% end %>
		<td><%= link_to '详细信息', product_batch, class: 'label label-info' %></td>
  </tr>
<% end %>
</table>

<br />
