<ul class="nav nav-list well">
	<%= nav_to '游戏管理', games_path, 'games' %>
	
	<% if can? :audit, Game %>
		<%= nav_to '游戏审核', audit_games_path, 'audit_games' %>
	<% end %>
	<li class="divider">
	</li>
	
	<%= nav_to '工作单管理', worksheets_path, 'worksheets' %>
	
	<% if can? :audit, Worksheet %>
		<%= nav_to '工作单审核', audit_worksheets_path, 'audit_worksheets' %>
	<% end %>
	<li class="divider">
	</li>
	
	<%= nav_to '生产批次管理', product_batches_path, 'product_batches' %>
	<%= nav_to '生产批次审核', audit_product_batches_path, 'audit_product_batches' %>
	<li class="divider">
	</li>

	<%= nav_to '数据重现', tickets_path, 'tickets' %>
	<li class="divider">
	</li>
					
	<%= nav_to '用户管理', users_path, 'users' %>
	<%= nav_to '角色维护', roles_path, 'roles' %>
	<li class="divider">
	</li>
	
	<li class="nav-header">
		系统功能
	</li>
	<%= nav_to '个人资料修改', edit_profile_path(current_user), 'profile' %>
	<li>
		<a href="#">操作日志查询</a>
	</li>
</ul>