<ul class="nav nav-list well">
	<%= nav_to '游戏管理', games_path, 'games' %>
	
	<% if can? :audit, Game %>
	<%= nav_to '游戏审核', audit_games_path, 'audit_games' %>
	<% end %>
	<li class="divider">
	</li>
	
	<li class="">
		<a href="#">工作单管理</a>
	</li>
	<li>
		<a href="#">工作单审核</a>
	</li>
	<li class="divider">
	</li>
	
	<li class="">
		<a href="#">生产批次管理</a>
	</li>
	<li>
		<a href="#">生产批次审核</a>
	</li>
	<li class="">
		<a href="#">运输批次列表</a>
	</li>
	<li class="divider">
	</li>

	<li class="">
		<a href="#">游戏数据生成</a>
	</li>
	<li class="">
		<a href="#">样票数据生成</a>
	</li>
	<li class="">
		<a href="#">样票测试数据生成</a>
	</li>
	<li class="">
		<a href="#">补号数据生成</a>
	</li>
	<li class="">
		<a href="#">补号数据测试生成</a>
	</li>
	<%= nav_to '数据重现', tickets_path, 'tickets' %>
	<li class="divider">
	</li>

	<li class="">
		<a href="#">印厂管理</a>
	</li>
	<li class="divider">
	</li>
					
	<%= nav_to '用户管理', users_path, 'users' %>
	<%= nav_to '角色维护', roles_path, 'roles' %>
	<li class="divider">
	</li>
	
	<li class="nav-header">
		系统功能
	</li>
	<li>
		<a href="#">个人资料修改</a>
	</li>
	<li>
		<a href="#">操作日志查询</a>
	</li>
</ul>